/* Général */
#login-dropdown, #login-dropdown-list, #login-dropdown-list .dropdown-toggle {
	height: 60px;
}

#welcome-title, #instructor-dashboard {
	margin-top: 200px;
}

#welcome-title h4, #instructor-dashboard h4 {
	font-size: 80px;
}




html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}



.main-background-image {
    position: fixed;
    height: 100%;
    width: 100%;
    margin-left: -342px;
    margin-top: -106px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1000;
}

@media (max-width: 1920px) {
    .main-background-image {
        margin-left: -205px;
        margin-top: -64px;
    }
}






.padding-0 {
	padding:0;
}

.padding-top-xs {
	padding-top: 5px;
}

.padding-top-s {
	padding-top: 15px;
}

.padding-top-m {
	padding-top: 30px;
}

.padding-top-l {
	padding-top: 45px;
}

.padding-top-xl {
	padding-top: 60px;
}

.padding-bottom-xs {
	padding-bottom: 5px;
}

.padding-bottom-s {
	padding-bottom: 15px;
}

.padding-bottom-m {
	padding-bottom: 30px;
}

.padding-bottom-l {
	padding-bottom: 45px;
}

.padding-bottom-xl {
	padding-bottom: 60px;
}

.padding-left-xs {
	padding-left: 5px;
}

.padding-left-s {
	padding-left: 15px;
}

.padding-left-m {
	padding-left: 30px;
}

.padding-left-l {
	padding-left: 45px;
}

.padding-left-xl {
	padding-left: 60px;
}

.margin-0 {
	margin:0;
}

.margin-top-xs {
	margin-top: 5px;
}

.margin-top-s {
	margin-top: 15px;
}

.margin-top-m {
	margin-top: 30px;
}

.margin-top-l {
	margin-top: 45px;
}

.margin-top-xl {
	margin-top: 60px;
}

.margin-bottom-xs {
	margin-bottom: 5px;
}

.margin-bottom-s {
	margin-bottom: 15px;
}

.margin-bottom-m {
	margin-bottom: 30px;
}

.margin-bottom-l {
	margin-bottom: 45px;
}

.margin-bottom-xl {
	margin-bottom: 60px;
}

.margin-left-xs {
	margin-left: 5px;
}

.margin-left-s {
	margin-left: 15px;
}

.margin-left-m {
	margin-left: 30px;
}

.margin-left-l {
	margin-left: 45px;
}

.margin-left-xl {
	margin-left: 60px;
}

.height-100 {
	height: 100%;
}

.width-100 {
	width: 100%;
}


.vertical-middle {
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

.hidden-soft {
    display: none;
}

.font-24 {
	font-size: 24px;
}