<template name="AdminCoursesADPage">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">
                <h1>{{_ "coursesAD"}}</h1>
            </div>
        </div>
        <div>
            <hr />
        </div>
        <div class="row margin-0" style="padding: 20px;">
            <div class="col-xs-6">
                <div class="text-center">
                    <span class="font-24">{{_ "courses_list"}} ({{ coursesCount }})</span>
                </div>
                <div>
                    <ul>
                        {{#each courses}}
                        <li>{{ name }} </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 well">
                <div>
                    <form>
                        <fieldset>
                            <legend>{{_ "add_courses"}}</legend>
                            <div class="form-group">
                                <label>{{_ "name"}}</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary">{{_ "insert"}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>