<template name="AdminCoursesPage">
	<div class="container-fluid">
		<div class="row">
			<div class="text-center">
				<h1>{{_ "courses"}}</h1>
			</div>
		</div>
		<div>
			<hr />
		</div>
		<div class="row margin-0" style="padding: 20px;">
			<div class="col-xs-6">
				<div class="text-center">
					<span class="font-24">{{_ "courses_list"}} ({{ coursesCount }})</span>
				</div>
				<div>
					<ul>
						{{#each courses}}
							<li>{{ name }} ({{ school.name }})</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="col-xs-6 well">
				<div>
                    <form>
						<fieldset>
							<legend>{{_ "add_courses"}}</legend>
							<div class="form-group">
								<label>{{_ "name"}}</label>
								<input type="text" name="name" class="form-control" required>
							</div>
							<div id="div-select-school" class="form-group">
								<label>{{_ "school"}}</label>
								<select name="schoolId" class="form-control" required>
									<option value="" selected disabled>(Select One)</option>
									{{#each schoolsOptions}}
										<option value="{{ value }}">{{ label }}</option>
									{{/each}}
								</select>
							</div>
							<div id="div-select-instructor" class="form-group hidden-soft">
								<label>{{_ "instructor"}}</label>
								<select name="instructorId" class="form-control" multiple required>
									<option value="" selected>(Select One)</option>
									{{#each usersOptions "instructor" }}
										<option value="{{ _id }}" schoolId="{{ profile.schoolId }}">{{ profile.lastName }} {{ profile.firstName }} </option>
									{{/each}}
								</select>
							</div>
                            <div id="div-select-student" class="form-group hidden-soft ">
                                <label>{{_ "users"}}</label>
                                <input type="text" id="studentSearch" class="form-control">
								<select id="select-participants" name="usersIds[]" class="form-control" multiple>
									<option value="" disabled>(Select Multiple)</option>
									{{#each usersOptions "student" }}
										<option value="{{ _id }}" schoolId="{{ profile.schoolId }}" studentLastName="{{ profile.lastName }}" studentFirstName="{{ profile.firstName }}">{{ profile.lastName }} {{ profile.firstName }}</option>
									{{/each}}
								</select>
							</div>

						</fieldset>
						<button type="submit" class="btn btn-primary">{{_ "insert"}}</button>
					</form>
<!--
					{{#autoForm collection="Courses" id="insertCourseForm" type="insert"}}
						<fieldset>
							<legend>{{_ "add_courses"}}</legend>
							{{> afQuickField name='name'}}
							{{> afQuickField name='schoolId' options=schoolsOptions}}
						</fieldset>
					<button type="submit" class="btn btn-primary">{{_ "insert"}}</button>
					{{/autoForm}}
-->
				</div>
			</div>
		</div>
	</div>
</template>