<template name="AdminSchoolsPage">
	<div class="container-fluid">
		<div class="row">
			<div class="text-center">
				<h1>{{_ "schools"}}</h1>
			</div>
		</div>
		<div>
			<hr />
		</div>
		<div class="row margin-0" style="padding: 20px;">
			<div class="col-xs-6">
				<div class="text-center">
					<span class="font-24">{{_ "schools_list"}} ({{ schoolsCount }})</span>
				</div>
				<div>
					<ul>
						{{#each schools}}
							<li>{{ name }} ({{ coursesCount }} cours)</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="col-xs-6 well">
				<div>
					{{#autoForm collection="Schools" id="insertSchoolForm" type="insert"}}
						<fieldset>
							<legend>{{_ "add_schools"}}</legend>
							{{> afQuickField name='name'}}
						</fieldset>
					<button type="submit" class="btn btn-primary">{{_ "insert"}}</button>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>