<template name="AdminUsersPage">
	<div class="container-fluid">
		<div class="row">
			<div class="text-center">
				<h1>{{_ "users"}}</h1>
			</div>
		</div>
		<div>
			<hr />
		</div>
		<div class="row margin-0" style="padding: 20px;">
			<div class="col-xs-6">
				<div class="text-center">
					<span class="font-24">{{_ "users_list"}} ({{ usersCount }})</span>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Email</th>
								<th>{{_ "name"}}</th>
								<th>{{_ "surname"}}</th>
								<th>{{_ "school"}}</th>
								<th>{{_ "course"}}</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{{#each users}}
								<tr>
									<td>{{ emails.[0].address }}</td>
									<td>{{ profile.firstName }}</td>
									<td>{{ profile.lastName }}</td>
									<td>{{ school profile.schoolId "name" }}</td>
									<td>
										{{#each courses profile.courseIds }}
											{{ name }}<br />
										{{/each}}
									</td>
									<td><button class="fa fa-edit btn btn-warning"></button><button class="fa fa-close btn btn-danger"></button></td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-6 well">
				<div>
					<form>
						<fieldset>
							<legend>{{_ "add_user"}}</legend>
							<div class="form-group">
								<label>Emails</label>
								<input type="text" name="email" class="form-control" required>
							</div>
							<div class="form-group">
								<label>{{_ "name"}}</label>
								<input type="text" name="profile[firstName]" class="form-control" required>
							</div>
							<div class="form-group">
								<label>{{_ "surname"}}</label>
								<input type="text" name="profile[lastName]" class="form-control" required>
							</div>
							<div class="form-group">
								<label>{{_ "role"}}</label>
								<select name="roles[]" class="form-control" required>
									<option value="" selected disabled>(Select One)</option>
									{{#each rolesOptions}}
										<option value="{{ name }}">{{ name }}</option>
									{{/each}}
								</select>
							</div>
							<div id="div-select-school" class="form-group hidden-soft">
								<label>{{_ "school"}}</label>
								<select name="profile[schoolId]" class="form-control">
									<option value="" selected>(Select One)</option>
									{{#each schoolsOptions}}
										<option value="{{ _id }}">{{ name }}</option>
									{{/each}}
								</select>
							</div>
							<div id="div-select-course" class="form-group hidden-soft">
								<label>{{_ "courses"}}</label>
								<select name="profile[courseIds][]" class="form-control" multiple>
									<option value="" disabled>(Select Multiple)</option>
									{{#each coursesOptions}}
										<option value="{{ _id }}" schoolId="{{ schoolId }}">{{ name }}</option>
									{{/each}}
								</select>
							</div>
						</fieldset>
                        <label>{{_ "uploadUser"}}</label>
                        <input type="file" id="userUpload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                        <button type="submit" class="btn btn-primary">{{_ "insert"}}</button>
					</form>
                </div>
			</div>
		</div>
	</div>
</template>