#container-messages {
	height: 600px;
	overflow-y: scroll;
	padding: 30px 30px 0 30px;
    background-color: rgba(255, 255, 255, 0.5)
}

.div-message {
	width: 75%;
}

.div-message.message-team-10 {
    width: 100%;
}

.p-message {
	white-space: pre-wrap;
	word-wrap: break-word;
	border-radius: 4px;
    background-color: #397ea5;
    padding: 10px 10px;
    margin: 0;
}

.message-team-2 {
	margin-left: 25%;
	position: relative;
    float: right;
}

.p-message-team-10 {
    width: 100%;
    background-color: firebrick;
    color: white;
}

.underlined {
	text-decoration: underline;
}

.chat-live-open {
    cursor: pointer;
    width: 100%;
    height: 20px;
    background-color: rgb(220,220,220);
    color: black;
    transition: bottom 500ms;
    z-index: 10;
    text-align: center;
}

#chat-live-subteam {
    position: fixed;
    height: 450px;
    bottom: -430px;
    width: 250px;
    right: 20px;
    transition: bottom 500ms;
    z-index: 20;
    box-shadow: 0px 0px 1px black;
}

.discussion {
    height: 350px;
    padding-top: 10px;
    top: 6%;
    width: 100%;
    overflow-y: scroll;
    background-color: white;
}

.discussion::-webkit-scrollbar { 
    display: none; 
}

.chat-enter {
    height: 80px;
    width: 100%;
}

#chat-live-team {
    position: fixed;
    height: 450px;
    bottom: -430px;
    width: 250px;
    right: 290px;
    transition: bottom 500ms;
    z-index: 20;
    box-shadow: 0px 0px 1px black;
}

.chat-message {
    top: 0%;
    max-width: 190px;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.chat-message-author {
    background-color: #4080ff;
    color: white;
    margin-left: 50px;
}

.chat-message-team {
    background-color: lightgray;
    margin-left: 10px;
}

#debate-title {
    background-color: black;
    opacity: 0.6;
    color: white;
    height: 120px;
}

.debate-tab {
    background-color: #397ea5;
    color: white;
    border: 1px solid white;
    width: 150px;
    text-align: center;
    margin: 0 20px;
}

a.debate-tab:hover, a.debate-tab:focus, li.active a.debate-tab {
    background-color: white;
    color: #397ea5;
}

/* override bootstrap */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: white;
    color: #397ea5;
}

.general-description {
    background-color: #397ea5;
    color: white;
    padding: 15px;
}