<template name="StudentDebateDetailsPage">
	<div id='background-div-debate-details' class='main-background-image'></div>
	{{#let isParticipant = debate.isCurrentUserParticipant }}
	<div class="container-fluid">
		{{# if isParticipant }}
		<div id="chat-live-subteam">
			<div id="chat-live-subteam-open" class='chat-live-open'>
				Chat with your subteam
			</div>
			<div id="discussion-subteam" class='discussion'>
				{{#each chatLive 'subteam'}}
				{{#if this.isCurrentUser }}
				<div class="chat-message-author chat-message">
					<p>
						{{ this.author }} <br />
						{{ this.message }}
					</p>
				</div>
				{{else}}
				<div class="chat-message-team chat-message">
					<p>
						{{ this.author }} <br />
						{{ this.message }}
					</p>
				</div>
				{{/if}}
				{{/each}}
			</div>
			<div id="chat-enter-subteam" class='chat-enter'>
				<textarea id="chat-message-subteam" name="chat-message" class="form-control" style="resize: none; width: 100%; height: 100%; overflow-y: scroll"></textarea>
			</div>
		</div>
		<div id="chat-live-team">
			<div id="chat-live-team-open" class='chat-live-open'>
				Chat with your team
			</div>
			<div id="discussion-team" class='discussion'>
				{{#each chatLive }}
				{{#if this.isCurrentUser }}
				<div class="chat-message-author chat-message">
					<p>
						{{ this.author }} <br />
						{{ this.message }}
					</p>
				</div>
				{{else}}
				<div class="chat-message-team chat-message">
					<p>
						{{ this.author }} <br />
						{{ this.message }}
					</p>
				</div>
				{{/if}}
				{{/each}}
			</div>
			<div id="chat-enter-team" class='chat-enter'>
				<textarea id="chat-message-team" name="chat-message" class="form-control" style="resize: none; width: 100%; height: 100%; overflow-y: scroll"></textarea>
			</div>
		</div>
		{{/if}}
		<div class="row" id='debate-title'>
			<div class="text-center">
				<h1>{{ course debate.courseId 'name' }} Debates</h1>
				<span class="font-24">{{ debate.title }}</span>
			</div>
		</div>
		<div class="row text-center" style="background-color: #397ea5;">
			<ul class="nav nav-pills" role="tablist" style="margin: 10px 0; display: inline-block;">
				<li role="presentation" class="active"><a class='debate-tab' href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
				<li role="presentation"><a class='debate-tab' href="#debate" aria-controls="debate" role="tab" data-toggle="tab">{{_ "debate"}}</a></li>
				<li role="presentation"><a class='debate-tab' href="#resources" aria-controls="description" role="tab" data-toggle="tab">{{_ "Link recoursces"}}</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="description">
				<div class="row margin-0" style="padding-top: 20px; margin-left: -15px; margin-right: -15px;">
					<div class="col-xs-12">
						<div class="row general-description">
							<div class="col-xs-offset-2 col-xs-8 text-center">
								<p class="font-24">Sujet</p>
								<p>
									{{_ "debate_subject_is"}} "{{ debate.title}}".<br />
								</p>
								<hr />
								<p class="font-24">{{_"Process"}}</p>
								<p>
									{{_ "debate_can_start"}}<br />
									{{_ "first_argumentative_phase"}}<br />
									•	{{{_ "argumentative_phase_presentation" debate.interventionMinLengthPhase1 debate.interventionMaxLengthPhase1 }}}
								</p>
								<p>
									{{_ "then_rebottles_phase"}}<br />
									•	{{{_ "rebottles_phase_presentation" debate.interventionMinLengthPhase2 debate.interventionMaxLengthPhase2 }}}
								</p>
							</div>
						</div>
						<div class="margin-top-m margin-bottom-xl" style="color: black;">
							<div class="row">
								<div class="col-xs-offset-2 col-xs-8 text-center">
									<p>
										<span>{{_ "constructive_phase"}}</span><br />
										<span class="{{#if equals debate.phase.round 1}}underlined{{/if}}">
												{{#if isParticipant }}{{ debate.participantsProfile.[1].firstName }} {{ debate.participantsProfile.[1].lastName }}{{else}}Participant 1{{/if}}
											</span>
										&gt;
										<span class="{{#if equals debate.phase.round 2}}underlined{{/if}}">
												{{#if isParticipant }}{{ debate.participantsProfile.[2].firstName }} {{ debate.participantsProfile.[2].lastName }}{{else}}Participant 2{{/if}}
											</span>
										&gt;
										<span class="{{#if equals debate.phase.round 3}}underlined{{/if}}">
												{{#if isParticipant }}{{ debate.participantsProfile.[3].firstName }} {{ debate.participantsProfile.[3].lastName }}{{else}}Participant 3{{/if}}
											</span>
										&gt;
										<span class="{{#if equals debate.phase.round 4}}underlined{{/if}}">
												{{#if isParticipant }}{{ debate.participantsProfile.[4].firstName }} {{ debate.participantsProfile.[4].lastName }}{{else}}Participant 4{{/if}}
											</span>
									</p>
									<p>
										<span>{{_ "rebottles_phase"}}</span><br />
										<span class="{{#if equals debate.phase.round 8}}underlined{{/if}}">
												{{#if isParticipant }}{{ debate.participantsProfile.[3].firstName }} {{ debate.participantsProfile.[3].lastName }}{{else}}Participant 3{{/if}}
											</span>
										&lt;
										<span class="{{#if equals debate.phase.round 7}}underlined{{/if}}">
												{{#if isParticipant }}{{ debate.participantsProfile.[4].firstName }} {{ debate.participantsProfile.[4].lastName }}{{else}}Participant 4{{/if}}
											</span>
										&lt;
										<span class="{{#if equals debate.phase.round 6}}underlined{{/if}}">
												{{#if isParticipant }}{{ debate.participantsProfile.[1].firstName }} {{ debate.participantsProfile.[1].lastName }}{{else}}Participant 1{{/if}}
											</span>
										&lt;
										<span class="{{#if equals debate.phase.round 5}}underlined{{/if}}">
												{{#if isParticipant }}{{ debate.participantsProfile.[2].firstName }} {{ debate.participantsProfile.[2].lastName }}{{else}}Participant 2{{/if}}
											</span>
									</p>
								</div>
							</div>
							{{#if isParticipant }}
							<div class="row">
								<div class="col-xs-offset-2 col-xs-3 text-center">
									<p>
										<span> {{_ "the_argumentative_team"}}</span><br />
										<span>{{_ "First group"}}</span><br />
										<span>
		                                            {{#each participantsProfile.team1SubTeam1}}
		                                                {{#if speaker}}
		                                                    Intervenant :
		                                                {{else}}
		                                                    Spectateur :
		                                                {{/if}}
		                                                {{ lastName }} {{ firstName }}<br />
		                                            {{/each}}
		                                        </span>
									</p>
									<p>
										<span>{{_ "Second group"}}</span><br />
										<span>
		                                            {{#each participantsProfile.team1SubTeam2}}
		                                                {{#if speaker}}
		                                                    Intervenant :
		                                                {{else}}
		                                                    Spectateur :
		                                                {{/if}}
		                                                {{ lastName }} {{ firstName }}<br />
		                                            {{/each}}
		                                        </span>
									</p>
								</div>
								<div class="col-xs-offset-2 col-xs-3 text-center">
									<p>
										<span> {{_ "team_negative"}}</span><br />
										<span> {{_ "First group"}}</span><br />
										<span>
		                                            {{#each participantsProfile.team2SubTeam1}}
		                                                {{#if speaker}}
		                                                    Intervenant :
		                                                {{else}}
		                                                    Spectateur :
		                                                {{/if}}
		                                                {{ lastName }} {{ firstName }}<br />
		                                            {{/each}}
		                                        </span>
									</p>
									<p>
										<span>{{_ "Second group"}}</span><br />
										<span>
		                                            {{#each participantsProfile.team2SubTeam2}}
		                                                {{#if speaker}}
		                                                    Intervenant :
		                                                {{else}}
		                                                    Spectateur :
		                                                {{/if}}
		                                                {{ lastName }} {{ firstName }}<br />
		                                            {{/each}}
		                                        </span>
									</p>
								</div>
							</div>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="debate">
				{{#let speakersData = speakers }}
				{{#if speakersData.current.isCurrentSpeaker }}
				<div class="row margin-0" style="padding: 20px;">
					<div class='col-xs-offset-3 col-xs-6' style="text-align: center;" id="countDown"></div>
				</div>
				{{/if }}
				{{/let }}
				<div class="row margin-0" style="padding: 20px;">
					<div class="col-xs-7">
						<div class="text-center">
							<span class="font-24">{{_ "debates_interventions"}}</span>
						</div>
						<div id="container-messages" class="col-xs-12">
							<div id="all-messages">
								{{#each debateInterventions }}
								<div class="row margin-bottom-m">
									<div class="div-message message-team-{{ teamNumber }}">
										<p>{{#if isParticipant }}{{ author.firstName }} {{ author.lastName}}{{else}}Participant {{ order }}{{/if}}, {{ FormatDateTime messageDate }} :</p>
										<p class="p-message p-message-team-{{ teamNumber }}">{{ message }}</p>
									</div>
								</div>
								{{/each}}
							</div>
							<div>
								{{> sAlert}}
							</div>
						</div>
					</div>
					<div class="col-xs-5">
						{{#let speakersData = speakers }}
						<div class="row text-center">
							<span class="font-24">{{_ "debates_details"}}</span>
						</div>
						<div class="row">
							<div class="col-xs-offset-2 col-xs-8">
								<div>
									<b>{{_ "title"}}:</b> {{ debate.title }}
								</div>
								<div>
									<b>Description:</b> {{ debate.description }}
								</div>
								<div>
									<b>{{_ "start_date"}}:</b> {{ FormatDateTime debate.startDate }}
								</div>
								<div>
									<b>{{_ "end_date"}}:</b> {{ FormatDateTime debate.endDate }}
								</div>
								<div>
									<b>{{_ "current_phase"}}:</b> {{ debate.phase.name }}
								</div>
								{{#if not debate.isStarted }}
								The debate did not start yet, the first speaker will be {{#if isParticipant }}{{ debate.firstSpeaker.profile.firstName }} {{ debate.firstSpeaker.profile.lastName }}{{else}}Participant {{ debate.firstSpeaker.order }}{{/if}}.
								{{else}}
								{{#if debate.isPaused }}
								<div>
									{{_ "debate_is_paused"}}
								</div>
								{{else}}
								{{#if debate.isFinished }}
								<div>
									{{_ "debate_is_finished"}}
								</div>
								{{else}}
								<div>
									{{#if speakersData.current.isCurrentSpeaker }}
									{{_ "you_are_current_speaker"}} {{_ "until"}} {{ FormatDateTime speakersData.current.roundEndDate }}.
									{{else}}
									{{#if speakersData.current.isCurrentViewer }}

									{{else}}

									{{/if}}
									{{_ "current_speaker_is"}} {{#if isParticipant }}{{ speakersData.current.currentSpeaker.profile.firstName }} {{ speakersData.current.currentSpeaker.profile.lastName }}{{else}}Participant {{ speakersData.current.currentSpeaker.order}}{{/if}} {{_ "until"}} {{ FormatDateTime speakersData.current.roundEndDate }}.
									{{/if}}
								</div>
								<div>
									{{#if speakersData.next.isLastSpeaker }}
									{{_ "debate_then_finished"}}
									{{else}}
									{{#if speakersData.next.isCurrentSpeaker }}
									{{_ "you_are_next_speaker"}}
									{{else}}
									{{_ "next_speaker_be"}} {{#if isParticipant}}{{ speakersData.next.nextSpeaker.profile.firstName }} {{ speakersData.next.nextSpeaker.profile.lastName }}{{else}}Participant {{ speakersData.next.nextSpeaker.order }}{{/if}}.
									{{/if}}
									{{/if}}
								</div>
								{{/if}}
								{{/if}}
								{{/if}}
							</div>
						</div>
						<!--{{#if speakersData.current.isCurrentSpeaker }} !-->
						{{#if isShow}}
						<div class="row">
							<div class="margin-top-xl">
								{{#if speakersData.current.alreadySpoke }}
								<div class="text-center">
									<span class="font-24">{{_ "already_gave_your_opinion"}}</span>
								</div>
								{{else}}
								<div class="text-center">
									<span class="font-24">{{_ "give_your_opinion"}}!</span>
									<span>
                                                    ({{ debate.minLength debate.round.number }} - {{ debate.maxLength debate.round.number }} characters)
                                                </span>
								</div>
								<div class="col-xs-offset-2 col-xs-8">
									<form>
										<div class="form-group">
											<textarea name="message" class="form-control" rows="10" style="resize: none;" required></textarea>
											<span id="textarea-message-error" class="text-danger"></span>
										</div>
										<div class="form-group">
											<input id="post-message" type="submit" class="btn btn-primary" value="Post message" disabled>
											<span id="message-length" class="pull-right"></span>
										</div>
									</form>
								</div>
								{{/if}}
							</div>
						</div>
						{{/if}}
						<!-- {{/if}} -->
						{{#if speakersData.current.isCurrentViewer }}
						<div class="row">
							<div class="margin-top-xl">
								<div class="text-center">
									<span class="font-24">{{_ "team_is_giving_opinion"}}</span>
								</div>
							</div>
						</div>
						{{/if}}
						{{/let}}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="resources">
				<div class="text-center" id="debate-link">
					<h2> {{_ "Link Support"}} </h2>
					{{#each links}}
					<br /><a href="{{ this }}" target="{{this}}" class="font-20" > {{ this }}</a>
					{{/each}}
				</div>
				<div id="debatne-file" class="text-center">
					<h2> {{_ "File Lecture"}}</h2>
					<div class="fileView">
						{{#each fileUrl}}
						<div>
							<a href="http://localhost:3000{{this.url}}" download="{{ this.name }}">{{ this.name}} </a>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/let}}
</template>