<template name="StudentCoursesADPage">
    <div id='background-div-debate' class='main-background-image'></div>
    <div id="course-name-title" class="text-center">
        {{{_ "debates_of" course.name}}}
    </div>
    <div id="debate-list-title" class="text-center">
        Liste des débats
    </div>
    <div>
        <div id="all-debates-tab" class="active">
            Tous les débats ({{ debatesCount }})
        </div>
        <div id="my-debates-tab">
            Mes débats ({{ myDebatesCount }})
        </div>
    </div>
    <div class="container-fluid margin-top-m margin-bottom-xl">
        <table id="debate-list-table" class="col-xs-8 col-xs-offset-2">
            <tr class="debate-list-header">
                <th>Titre</th>
                <th>Discription</th>
            </tr>
            {{#each debates}}
            <tr class="debate-list-row" data-participant="{{#if isCurrentUserParticipant }}true{{else}}false{{/if}}" data-id="{{ _id }}">
                <td>{{ title }}</td>
                {{#if isCurrentUserParticipant}}
                <td>
                    {{ participantsProfile.[1].firstName }}<br />
                    {{ participantsProfile.[3].firstName }}
                </td>
                <td>
                    {{ participantsProfile.[2].firstName }}<br />
                    {{ participantsProfile.[4].firstName }}
                </td>
                {{else}}
                <td>
                    Participant 1<br />
                    Participant 3
                </td>
                <td>
                    Participant 2<br />
                    Participant 4
                </td>
                {{/if}}
                <td>{{ FormatDateTime startDate }}</td>
                <td>{{ FormatDateTime endDate }}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</template>