#course-name-title {
	height: 200px;
	line-height: 200px;
	font-size: 50px;
	font-family: "MS Sans Serif", Geneva, sans-serif;
}

#debate-list-title {
	height: 106px;
	line-height: 106px;
	font-size: 26px;
	background-color: #397ea5;
	color: white;
	font-family: "MS Sans Serif", Geneva, sans-serif;
}

#course-name-title {
    background-color: black;
    opacity: 0.6;
    color: white;
}



#all-debates-tab, #my-debates-tab {
	display: inline-block;
	width: 250px;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: #397ea5;
	text-align: center;
	cursor: pointer;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#all-debates-tab {
	margin-left: 100px;
}

#my-debates-tab {
	margin-left: 5px;
}

#all-debates-tab:hover,
#all-debates-tab:focus,
#all-debates-tab.active,
#my-debates-tab:hover,
#my-debates-tab:focus,
#my-debates-tab.active {
	background-color: #74b7dc;
}

#background-div-debate {
    background-image: url('/welcome-dashboard.jpg');
    opacity: 0.7;
}


#debate-list-table {
    color: black;
}

.debate-list-header {
    border-bottom: 4px solid #333;
    font-size: 20px;
}

.debate-list-header th {
    padding: 0 10px;
}

.debate-list-row {
    cursor: pointer;
}

.debate-list-row + .debate-list-row {
    border-top: 1px solid #333;
}

.debate-list-row td {
    padding: 15px 10px;
}

.debate-list-row:hover, .debate-list-row:focus {
    background-color: #333;
    opacity: 0.5;
    color: white;
}



@media (max-width: 1920px) {
    #course-name-title {
        height: 120px;
        line-height: 120px;
        font-size: 30px;
    }
    #debate-list-title {
        height: 64px;
        line-height: 64px;
        font-size: 16px;
    }
    #all-debates-tab,
    #my-debates-tab {
        width: 150px;
        height: 30px;
        line-height: 30px;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }
    #all-debates-tab {
        margin-left: 60px;
    }
    #my-debates-tab {
        margin-left: 3px;
    }
}