<template name="DebateForm">
    <form id="debate-form">
        <fieldset>
            <legend>{{_ "add_debate"}}  - {{ course.name }}</legend>
            <div class="form-group">
                <label>{{_ "title"}} </label>
                <input id='debateTitle' type="text" name="title" class="form-control" value="{{ debate.title }}" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea rows="3" name="description" class="form-control" value="{{ debate.description }}" required></textarea>
            </div>
            <div class="form-group">
                <label>Participants</label>
                <input type="text" id="studentSearch" class="form-control">
                <select id="debate-select-participants" name="participantList[]" class="form-control" multiple required>
                    <option value="" disabled>(Select Multiple)</option>
                    {{#each courseParticipants this}}
                    <option value="{{ _id }}" studentLastName="{{ profile.lastName }}" studentFirstName="{{ profile.firstName }}">{{ profile.firstName }} {{ profile.lastName }}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>{{_ "debate_start_date"}}</label>
                <input type="text" name="startDate" class="form-control" value="{{ FormatDateTime debate.startDate }}" required>
            </div>
            <div class="form-group">

                <label>{{_ "debate_first_round_duration"}}</label>
                <input type="text" name="roundDurationPhase1" class="form-control" value="{{ debate.roundDurationPhase1 }}" required>
            </div>
            <div class="form-group">
                <label>{{_ "debate_first_round_minimum_length"}}</label>
                <input type="text" name="interventionMinLengthPhase1" class="form-control" value="{{ debate.interventionMinLengthPhase1 }}" required>
            </div>
            <div class="form-group">
                <label>{{_ "debate_first_round_maximum_length"}}</label>
                <input type="text" name="interventionMaxLengthPhase1" class="form-control" value="{{ debate.interventionMaxLengthPhase1 }}" required>
            </div>
            <div class="form-group">
                <label>{{_ "debate_second_round_duration"}}</label>
                <input type="text" name="roundDurationPhase2" class="form-control" value="{{ debate.roundDurationPhase2 }}" required>
            </div>
            <div class="form-group">
                <label>{{_ "debate_second_round_minimum_length"}}</label>
                <input type="text" name="interventionMinLengthPhase2" class="form-control" value="{{ debate.interventionMinLengthPhase2 }}" required>
            </div>
            <div class="form-group">
                <label>{{_ "debate_second_round_maximum_length"}}</label>
                <input type="text" name="interventionMaxLengthPhase2" class="form-control" value="{{ debate.interventionMaxLengthPhase2 }}" required>
            </div>
            <div class="from-group">
                <label> {{_ "Link Lecture"}} </label>
                <textarea rows="5" name="linkResources" class="form-control" value="{{ debate.linkResources }}"></textarea>
            </div>
            <div class="form-group">
                <label> {{_ "The resources"}} </label>
                <input type="file" id="fileUpload" MULTIPLE/>
            </div>
        </fieldset>
        <button id='submitButton' disabled='true' type="submit" class="btn btn-primary">{{_ "insert"}}</button>
    </form>
</template>