<template name="DebateMessages">
	<div class="text-center">
		{{#let debate=debateDocument }}
        <p><span style="font-size: 24px;">{{ debate.title }}</span></p>
			<span class="font-24">Debates interventions</span>
            <div>
			    {{#if debate.isPaused }}
				<button id="unpause-debate" class="btn btn-primary"><span class="fa fa-close"></span> {{_ "Unpause debate"}}</button>
                {{else}}
                {{#if debate.isInProgress }}
					<button id="pause-debate" class="btn btn-primary"><span class="fa fa-clock-o"></span>{{_ "Pause debate"}}</button>
                {{/if}}
                {{/if}}
            </div>
		{{/let}}
               <form>
                    <input id="add-time-debate" type="text" placeholder="Ajouter des minutes à la phrase ">
                </form>
	</div>
	<div id="container-messages" class="col-xs-12">
		<div id="all-messages">
			{{#each debateInterventions }}
				<div class="row margin-bottom-m">
					<div class="div-message message-team-{{ teamNumber }}">
						<p>{{ author.firstName }} {{ author.lastName}}, {{ FormatDateTime messageDate }} :</p>
						<p class="p-message p-message-team-{{ teamNumber }}">{{ message }}</p>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
    <div id='container-instructor-intervention' class='col-xs-12'>
        <form id='instructorInterventionForm'>
            <textarea rows="5" name="instructorIntervention" id='instructorIntervention' class="form-control"></textarea>
            <button id='submitInstructorIntervention' type="submit" class="btn btn-primary" disabled>Submit</button>
        </form>
    </div>
</template>