<template name="InstructorDebatesPage">
	<div class="container-fluid">
		<div class="row">
			<div class="text-center">
				<h1> </h1>
			</div>
		</div>
		<div>
			<hr />
		</div>
		<div class='col-xs-12 well' align="center">
			<button id="pause-debate-all" class="btn btn-primary"><span class="fa fa-clock-o"></span> {{_ "pauseAll_debate"}}  </button>
			<button id="unpause-debate-all" class="btn btn-primary"><span class="fa fa-close"></span> {{_ "unpauseAll_debate"}} </button>
		</div>
		<div class="row margin-0" style="padding: 20px;">
			<div class="col-xs-6">
				<div class="text-center">
					<span class="font-24">{{_ "debate_list"}} ({{ debatesCount }})</span>
					<button id="add-debate" class="btn btn-success pull-right"><span class="fa fa-plus"></span> {{_ "add_debate"}}</button>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th>{{_ "title"}}</th>
							<th>{{_ "team_1"}}</th>
							<th>{{_ "team_2"}}</th>
							<th>{{_ "start"}}</th>
							<th>{{_ "end"}}</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						{{#each debates}}
						<tr>
							<td><span class="debate-link" debateId="{{ _id }}" >{{ title }}</span></td>
							<td>
								{{#each participantsProfileByTeam.[1] }}
								{{ firstName }} {{ lastName }}
								{{/each}}
							</td>
							<td>
								{{#each participantsProfileByTeam.[2] }}
								{{ firstName }} {{ lastName }}
								{{/each}}
							</td>
							<td>{{ FormatDateTime startDate }}</td>
							<td>{{# if not debate.isPaused }}{{ FormatDateTime endDate }}{{/if}}</td>
							<td><button class="fa fa-edit btn btn-warning edit-debate" debateId="{{ _id }}"></button><button class="fa fa-close btn btn-danger remove-debate" debateId="{{ _id }}"></button></td>
						</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-xs-6 well">
				{{> Template.dynamic template=includedTemplate data=debate}}
			</div>
		</div>
	</div>
	<div id='confirmation'>
		<div id='confirmationBackground'></div>
		<div id='confirmationPopup' value=''>
			<p>{{_ "delete_msg"}}</p>
			<p>
				<button class="btn confirmationButton" id="cancelDelete" style="margin: 10px;">{{_ "cancel"}}</button>
				<button class="btn confirmationButton" id="confirmDelete" style="margin: 10px;">{{_ "yes"}}</button>
			</p>
		</div>
	</div>
	<div id="information">
		<div id="informationPopup">
			<p> {{_ "time_added"}}</p>
			<button class="btn confirmationButton">{{_ "yes"}}</button>
		</div>
	</div>
    <div id='confirmation'>
        <div id='confirmationBackground'></div>
        <div id='confirmationPopup' value=''>
            <p>Are you sure you want to delete this debate ?</p>
            <p>
            <button class="btn confirmationButton" id="cancelDelete" style="margin: 10px;">Cancel</button>
            <button class="btn confirmationButton" id="confirmDelete" style="margin: 10px;">Yes</button>
            </p>
        </div>
    </div>
</template>