.debate-link {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.debate-link:hover, .debate-link:focus {
    color: #23527c;
    text-decoration: underline;
}

#confirmationBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9000;
    /*    background-color: rgba(0,0,0,0);*/
    top: 0;
    left: 0;
}

#confirmationPopup {
    box-shadow: 0px 0px 5px black;
    text-align: center;
    padding: 10px;
    position: absolute;
    background-color: #397ea5;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#confirmation {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
}

#confirmationBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9000;
/*    background-color: rgba(0,0,0,0);*/
    top: 0;
    left: 0;
}

#confirmationPopup {
    box-shadow: 0px 0px 5px black;
    text-align: center;
    padding: 10px;
    position: absolute;
    background-color: #397ea5;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#confirmation {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
}
    
.p-message-team-10 {
    width: 100%;
    background-color: firebrick;
    color: white;
}
#information {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
}

#informationPopup {
    box-shadow: 0px 0px 5px black;
    text-align: center;
    padding: 10px;
    position: absolute;
    background-color: #1fa598;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
