<template name="InstructorPage">
    <div id='background-div-instructor' class='main-background-image'></div>
<!--
	<div class="container-fluid">
		<div id="instructor-dashboard" class="text-center">
			<h4>{{_ "instructor_dashboard"}}</h4>
		</div>
	</div>
-->
</template>