#background-welcome {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('/background-welcome.png'), url('/welcome-dashboard.jpg');
    background-size: calc(100% - 342px) calc(100% - 106px);
    background-repeat: no-repeat;
}

@media (max-width: 1920px) {
    #background-welcome {
        background-size: calc(100% - 205px) calc(100% - 64px);
    }
}