<template name="AdminMenu">
	<nav id="leftNavbar" class="navbar navbar-default sidebar" role="navigation">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/admin/schools">Schools<span class="pull-right fa fa-angle-right"></span></a></li>
					<li><a href="/admin/courses">Courses<span class="pull-right fa fa-angle-right"></span></a></li>
					<li><a href="/admin/users">Users<span class="pull-right fa fa-angle-right"></span></a></li>
					<li><a href="/admin/coursesAd">Courses Admin<span class="pull-right fa fa-angle-right"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</template>