.menu-div-debate {
	height: 87px;
	border-bottom: 3px solid white;
	color: white;
	text-align: center;
	padding: 0 15px;
}

.menu-div-debate:first-of-type {
	border-top: 3px solid white;
}

.menu-div-debate a, .menu-div-debate span {
	color: white;
	display: block;
	height: 100%;
	line-height: 81px;
	font-size: 22px;
}

.menu-div-debate:hover, .menu-div-debate:focus {
	background-color: white;
}

.menu-div-debate:hover a, .menu-div-debate:focus a, .menu-div-debate:hover span, .menu-div-debate:focus span {
	color: #397ea5;
	text-decoration: none;
}

@media (max-width: 1920px) {
    .menu-div-debate {
        height: 52px;
        border-bottom: 2px solid white;
        padding: 0 9px;
    }
    .menu-div-debate:first-of-type {
        border-top: 2px solid white;
    }
    .menu-div-debate a,
    .menu-div-debate span {
        line-height: 49px;
        font-size: 13px;
    }
}