<template name="Layout">
	<div id="header">
        <div class='header-background'></div>
		<div id="header-title-idearoom">
			iDeaRoom
		</div>
		<div id="header-account">
			{{> loginButtons }}
		</div>
	</div>
	<div id="menu">
        <div class='menu-background'></div>
		<span></span><img id="logo-idearoom" src="/idearoom-logo.png" />
		{{#if isInRole 'admin'}}
			{{> AdminMenu }}
		{{else}}
			<div>
				{{#let sectionValue = section courseIdValue = courseId }}
					{{#each courses}}
						<div class="menu-div-debate {{#if equals courseIdValue _id }}active{{/if}}">
							<a href="/{{ sectionValue }}/course/{{ _id }}">{{ name }}<span class="pull-right fa fa-angle-right"></span></a>
						</div>
					{{/each}}
				{{/let}}
			</div>
		{{/if}}
	</div>
	<div id="main-body">
		{{> Template.dynamic template=main}}
	</div>
</template>