/* HEADER */

#header {
    position: fixed;
    width: 100%;
    height: 106px;
    background-color: #397ea5;
    text-align: center;
    color: white;
    z-index: 1000;
}

.header-background {
    height: 106px;
    width: 100%;
    position: fixed;
    background-position: space;
    /*    background-image: url('/broken-glass.png');*/
    background-size: 100% 106px;
    z-index: -1000;
}

#header-title-idearoom {
    display: inline-block;
    font-size: 55px;
    line-height: 106px;
    padding-left: 297px;
}

#header-account {
    display: inline-block;
    float: right;
    height: 100%;
    width: 297px;
    border-left: 2px solid white;
    font-size: 22px;
}

#header-account:hover, #header-account:focus {
    color: #397ea5;
    background-color: white;
}

#login-dropdown-list {
    list-style: none;
    height: 100%;
}

#login-dropdown-list a.dropdown-toggle {
    display: block;
    height: 100%;
    color: white;
    line-height: 106px;
}

#header-account:hover #login-dropdown-list a, #header-account:focus #login-dropdown-list a {
    color: #397ea5;
    text-decoration: none;
}

#logo-idearoom {
    width: 141px;
    position: relative;
    top: -50px;
}

.adminCours {
    vertical-align: bottom
}

/* MENU */

#menu {
    position: fixed;
    margin-top: 106px;
    width: 342px;
    background-color: #397ea5;
    height: 100%;
    text-align: center;
    z-index: 3000;
}

/*
.menu-background {
    height: 100%;
    width: 342px;
    position: fixed;
    background-position: space;
    background-image: url('/broken-glass-2.png');
    z-index: -1000;
}
*/

.menu-div-debate {
    height: 87px;
    border-bottom: 3px solid white;
    text-align: center;
}

.menu-div-debate:first-of-type {
    border-top: 3px solid white;
}

.menu-div-debate a, .menu-div-debate span {
    color: white;
    display: block;
    height: 100%;
    line-height: 81px;
    font-size: 22px;
}

.menu-div-debate a {
    padding: 0 15px;
}

.menu-div-debate:hover, .menu-div-debate:focus, .menu-div-debate.active {
    background-color: white;
}

.menu-div-debate:hover a, .menu-div-debate:focus a, .menu-div-debate.active a, .menu-div-debate:hover span, .menu-div-debate:focus span, .menu-div-debate.active span {
    color: #397ea5;
    text-decoration: none;
}


#main-body {
    padding-top: 106px;
    padding-left: 342px;
}

@media (max-width: 1920px) {
    #header {
        height: 64px;
    }
    .header-background {
        height: 64px;
        background-size: 100% 64px;
        /*        background-position: -110px -426px;*/
    }
    .menu-background {
        width: 205px;
    }
    #header-title-idearoom {
        font-size: 33px;
        line-height: 64px;
        padding-left: 297px;
    }
    #header-account {
        width: 297px;
        border-left: 1px solid white;
        font-size: 13px;
    }
    #login-dropdown-list a.dropdown-toggle {
        line-height: 64px;
    }
    #logo-idearoom {
        width: 85px;
        top: -30px;
    }
    /* MENU */
    #menu {
        margin-top: 64px;
        width: 205px;
    }
    #main-body {
        padding-top: 64px;
        padding-left: 205px;
    }
    .menu-div-debate {
        height: 52px;
        border-bottom: 2px solid white;
        padding: 0 9px;
    }
    .menu-div-debate:first-of-type {
        border-top: 2px solid white;
    }
    .menu-div-debate a,
    .menu-div-debate span {
        line-height: 49px;
        font-size: 13px;
    }
}

